*{
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 70px;
    border: 1px solid red;
}

aside{
    width: 20%;
    height: 830px;
    border: 1px solid green;
    float: left;
}

section{
    width: 60%;
    height: 830px;
    border: 1px solid blue;
    float: left;
}

main>div{
    clear: both;
}
